
.scroll-container {
    background-color: rgb(109, 125, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
    
}
 


.object-container { 
    background-color: #3f4758;
    border-radius: 75px;
    display: flex;
    align-items: center;
    padding: 3em;
    margin-bottom: 3em;
}


.review-data { 
    color: orange;
    
}

.title-rev { 
    color: purple;
    display: grid;
}

.review-preview{ 
    color: bisque;
}



img { 
    border-radius: 25%;
    height: auto; 
    max-width: 80%;
}